<div id="login">

{{#if errorMessage}}
  <div class="alert alert-danger">
    <p>
      <code>{{errorMessage}}</code>
    </p>
    {{#if errorCode}}
    <p>Do not have an account? {{link-to "Join now" "signup"}}.</p>
    {{else}}
    <p>Forgot your password? {{link-to "Reset your password" "passwordreset"}}.</p>
    {{/if}}
  </div>
{{/if}}

<form>
  
  <div class="form-group">
    <label for="identification">Email</label>
    {{input value=identification placeholder='Enter Email' class='form-control'}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input value=password placeholder='Enter Password' class='form-control' type='password'}}
  </div>
  <button type="submit"
    class="btn btn-default btn-primary btn-block btn-lg"
    disabled={{isLoggingIn}}
    {{action "authenticateWithPD"}}>
    {{#if isLoggingIn}}
      <i class="fa fa-spin fa-spinner"></i> Logging in...
    {{else}}
      Log in
    {{/if}}
  </button>

</form>

</div>