<nav class="navbar navbar-default" role="navigation">
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li>{{link-to "Home" "app.home"}}</li>
    <li>{{link-to "Browse Profiles" "app.browse"}}</li>
    <li>{{link-to "Edit Profile" "app.edit"}}</li>
    <li>{{link-to "About" "about"}}</li>
  </ul>
  {{#if session.isAuthenticated}}
    <a {{action 'logout'}} class="btn btn-danger navbar-btn navbar-right">Logout</a>
  {{else}}
    <a {{action 'login'}} class="btn btn-success navbar-btn navbar-right">Login</a>
  {{/if}}
</div>
</nav>
