<div id="pdapp">
  <header id="header">
    <h1>Passport Date</h1>
    <h2>Find love anywhere in the world.</h2>
  </header>

  <nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>{{link-to "Home" "index"}}</li>
      <li>{{link-to "Browse Profiles" "browse-profiles"}}</li>
      <li>{{link-to "Edit Profile" "edit-profile"}}</li>
      <li>{{link-to "About" "about"}}</li>
	  <li>(logged in as ...)</li>
    </ul>
  </div>
  </nav>
  
  <section id="main">
  
  {{outlet}}

  </section>

</div>

<footer id="info">
  <p>&copy; 2015 Passport Date Media Inc.</p>
</footer>
