<div id="pdinfo">
<h1>Passport Date</h1>

<div id="content">

<section class="first-page">
<p class="promote">Join the best <b>free international</b> dating site.</p>
<p class="promote" style="margin-bottom: 30px;">Meet people <b>anywhere</b> in the world.</p>
</section>

<section class="second-page">
<p class="promote">Almost done!</p>
<p class="promote">Always <b>free</b> to message.</p>
</section>

<form>

	<section class="first-page">
	<div class="form-inline">
    <div class="form-group">
	    <label>I'm a </label>
		{{#x-select value=model.orientation class="form-control"}}
		  {{#x-option value="straight"}}Straight{{/x-option}}
		  {{#x-option value="bisexual"}}Bisexual{{/x-option}}
		  {{#x-option value="homosexual"}}Homosexual{{/x-option}}
		{{/x-select}}
	</div>
	
	<div class="form-group">
		{{#x-select value=model.gender class="form-control"}}
		  {{#x-option value="male"}}Man{{/x-option}}
		  {{#x-option value="female"}}Woman{{/x-option}}
		{{/x-select}}
	</div>

	<button type="submit" class="btn btn-default" {{action "secondPage"}}>Continue</button>
	</div>
	</section>
	
	<section class="second-page">
    <div class="form-horizontal">
  
      <div class="form-group">
  	    <label class="col-sm-4 control-label">Country</label>
  		<div class="col-sm-8 field">
		
		{{#x-select value=model.country class="form-control"}}
		  {{#x-option value="Canada"}}Canada{{/x-option}}
		  {{#x-option value="Ukraine"}}Ukraine{{/x-option}}
		  {{#x-option value="Germany"}}Germany{{/x-option}}
		  {{#x-option value="France"}}France{{/x-option}}
		{{/x-select}}
		
  		</div>
		
  	    <label class="col-sm-4 control-label">City</label>
  		<div class="col-sm-8 field">
  		{{input name="city" type="text" size="30" value=model.city}}
  		</div>
  	</div>
	
      <div class="form-group">
  	    <label class="col-sm-4 control-label">Birth Month</label>
  		<div class="col-sm-8 field">
  		{{input type="text" name="month" size="2" value=model.month}}
  		</div>
  	</div>

      <div class="form-group">
  	    <label class="col-sm-4 control-label">Birth Day</label>
  		<div class="col-sm-8 field">
  		{{input type="text" name="day" size="2" value=model.day}}
  		</div>
  	</div>

      <div class="form-group">
  	    <label class="col-sm-4 control-label">Birthdate Year</label>
  		<div class="col-sm-8 field">
  		{{input type="text" name="year" size="4" value=model.year}}
  		</div>
  	</div>

      <div class="form-group">
  	    <label class="col-sm-4 control-label">Email</label>
  		<div class="col-sm-8 field">
  		{{input type="text" name="email" size="30" value=model.email}}
  		</div>
  	</div>

      <div class="form-group">
  	    <label class="col-sm-4 control-label">Confirm Email</label>
  		<div class="col-sm-8 field">
  		{{input type="text" name="email-confirm" size="30" value=confirm_email}}
  		</div>
  	</div>
	
  	<div class="form-group">
  		<div class="col-sm-4"></div>
  		<div class="col-sm-8 field">
  		<button type="submit" class="btn btn-default" {{action "signUp" target="controller"}}>Continue</button>
  		</div>
  	</div>
	
    </div>
	</section>

</form>

<div id="callout">Already a member? <span class="button">{{link-to "Sign in" "login"}}</span></div>

</div>
</div>